body{
  font-family: 'Prompt',sans-serif;
}
  .container {
    flex-grow: 1; /* ให้เนื้อหาหลักขยาย */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* จัดให้อยู่ด้านบน */
    align-items: center;
    padding: 20px; /* ลด Padding ถ้าจำเป็น */
    margin-left: 370px;
}
.logout{
  background-color: #79B7FF;
  border-radius: 10px;
  height: 40px;
  width: 40px;
}

.logout:hover{
    background-color: #636363;
}

#logouticon{
  padding-top: 7px;
  padding-left: 10px;
}
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
    height: 35vh; /* สูงเต็มหน้าจอ */
    align-items: flex-start;
    margin-left: 5px;
}

input[type="file"] {
    margin-bottom: 0px; /* เพิ่มช่องว่างระหว่าง input กับรูปภาพ */
    margin-top: 10px;
}
#preview {
  width: 200px;       /* กำหนดขนาดความกว้างของภาพ */
  height: 200px;      /* กำหนดขนาดความสูงของภาพ */
  border-radius: 50%; /* ทำให้กรอบรูปเป็นวงกลม */
  object-fit: cover;  /* ครอบภาพให้เต็มกรอบ */
  border: 1px solid #000000; /* เพิ่มเส้นขอบ (สามารถปรับแต่งได้) */
  margin-bottom: 20px;
}

#inputtext{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#inputtext .mb-3{
  margin: 0 10px;
}

.container h3{
  padding-top: 5px;
  background-color: #79B7FF;
  height: 45px;
  border-radius: 20px;
  width: 200px;
  align-items: center;
  margin-left: 125px;
  color: #000;
}

.btnsub-custom{
    background-color: #79B7FF; /* สีพื้นหลัง */
    color: #000000; /* สีข้อความ */
    border: none; /* เอาเส้นขอบออก */
  }
  
  .btnsub-custom:hover{
    background-color: #9e9e9e;
    color: #000;
    border: none;
  }
  